<h3>Lista das reclamações</h3>
<hr>

{{#each reclamacao}}
<div class="card mt-4">
    <div class="card-body ">
        <h4>Rua:{{ rua }}</h4>
        <h4>Bairro:{{ bairro}}</h4>
        <p>Descrição: {{ descricao}}</p>
        <p>Data: {{#formatDate createdAt}}{{/formatDate}}</p>
        <form action='/admin/situacaoReclamacao/deletar' method="post">

            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-danger">Deletar Simulação</button>
        </form>
    </div>


</div>

{{else}}


{{/each}}